*{    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan', serif;
}

body{
    font-size: 15px;
}

header{
    display:flex;            
    justify-content:center;
    padding: 100px 140px 20px;         
}
.content {
    width: 50%;        
}

h1 {
    width: 70%;
    font-size: 48px;
    color: hsl(300, 49%, 28%);
    
            
}
.content div p {
    margin: 0px;
    line-height: 25px;
    width: 80%;
    margin-top: 15px;
}
.rate {
    display: flex;  
    align-items: center;     
    background-color:hsl(300, 24%, 96%);
    padding: 20px 20px 20px 30px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    width: 100%;
    font-size: 14px;
}

.stars {    
    display: flex;    
    justify-content: space-between;
    width: 20%;
    margin-right: 30px;
}

.two {
    margin-left: 60px;
}

.three {
    margin-left: 100px;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 140px;
    
}

.card {       
    width: 375px;
    line-height: 28px;
    border: hsl(300, 43%, 22%) solid;
    border-radius: 10px;
    background-color: hsl(300, 43%, 22%);
    color: hsl(0, 0%, 100%);
    padding: 20px 20px;    
}

.avatar {
    display: flex;    
    align-items: center;
    margin: 5px 20px;
}

.avatar > img {
    border-radius: 50%;
    
}
.avatar .title {
    display: inline-flex;
    flex-direction: column;    
    margin: 5px 20px;   
}

.avatar .buyer {
    color: hsl(333, 80%, 67%);
}

p {
    margin: 20px;
}

.irene {
    margin-top: 20px;
}

.anne {
    margin-top: 40px;
}

@media (max-width: 1024px) {    
    header{
        flex-direction: column;
    }
    .content,
    .content p{ 
        width: 100%;  
        text-align: center;           
    }
    h1{
        width: 100%;
    }
    .rate{
        flex-direction: column;
        text-align: center;
    }
    .two,
    .three {
        margin-left: 0px;
    }
    .stars {
        margin-right: 0px;
        margin-bottom: 8px;
    }
    main{
        flex-direction: column;
    }

    .card{
        width: 100%;
    }
    .anne{
        margin-top: 50px;
    }    
}

@media (max-width: 552px){
    header,
    main{
        padding: 60px 30px;
    }    
    main{
        margin-top: -80px;
    }
    .card{
        margin-top: 20px;        
    }
   
    h1{
        font-size: 32px;
    }
}


